<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookSwissPTTimetable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutlookSwissPTTimetable.Properties.Settings>
            <setting name="ConnectionsLimit" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="BusyStatus" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LookaheadLookbackMinutes" serializeAs="String">
                <value>5</value>
            </setting>
        </OutlookSwissPTTimetable.Properties.Settings>
    </userSettings>
</configuration>